$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Shape Divider
.wp-block-sdb-shape {
	position: relative;
	overflow: hidden;
	z-index: 0;
	background-color: #4527a4;

	.shapeContent{
		padding-top: 40px;
		z-index: 2;
		position: relative;
	}

	* {
		box-sizing: border-box;
	}

	svg {
		position: absolute;
		left: 0;
		line-height: 0;
		z-index: 1;
	}
}
